<div class="navbar navbar-default navbar-fixed-top" role="navigation">

    <!-- logo -->
    <a class="navbar-brand" href="dashboard"></a>

    <!-- menu -->
    <ul class="nav navbar-nav">
        <li ng-class="{

        }">
            <a
                href="dashboard"
                i18n="centreon.dashboard.h2">
                <span class="glyphicon glyphicon-dashboard"></span>
            </a>
        </li>
        <li class="dropdown" dropdown>
            <a
                class="dropdown-toggle"
                dropdown-toggle
                data-toggle="dropdown"
                i18n="">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a
                        i18n=""
                        href="">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </li>
            </ul>
        </li>
        <li
            class="dropdown"
            dropdown
            ng-class="{
            }">
            <a
                class="dropdown-toggle"
                dropdown-toggle
                data-toggle="dropdown"
                i18n="centreon.nav.options"
                i18n-prepend="true">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a
                        href="changelog.txt"
                        target="_blank"
                        i18n="centreon.nav.changelog">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </li>
                <li>
                    <a
                        href="/docs/index.html"
                        target="_blank"
                        i18n="centreon.nav.ui-doc">
                        <span class="glyphicon glyphicon-wrench"></span>
                    </a>
                </li>
                <li>
                    <a
                        href="/reports/index.html"
                        target="_blank"
                        i18n="centreon.nav.coverage">
                        <span class="glyphicon glyphicon-wrench"></span>
                    </a>
                </li>
                <li>
                    <a
                        href="https://travis-ci.org/cbragard/centreon"
                        target="_blank"
                        i18n="centreon.nav.travis">
                        <span class="glyphicon glyphicon-wrench"></span>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ng-click="switchLang('lang/en_EN.json')">
                        <span class="glyphicon glyphicon-refresh"></span>
                        EN_en
                    </a>
                </li>
                <li>
                    <a ng-click="switchLang('lang/fr_FR.json')">
                        <span class="glyphicon glyphicon-refresh"></span>
                        fr_FR
                    </a>
                </li>
                <li ng-show="isLoggedIn()">
                    <a
                        href="login?logout=true"
                        i18n="centreon.nav.logout">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
            </ul>
        </li>
         <li>
            <a
                href=""
                i18n="">
                <span class="glyphicon glyphicon-log-in"></span>
            </a>
        </li>
    </ul>
</div>
