<div nav-directive></div>
<!-- devices loading -->
<div
    class="loader col-xs-12"
    ng-show="status == undefined">
    <span i18n="centreon.loading"></span>
</div>
<!-- status -->
<div
    class="panel panel-primary panel-dashboard"
    ng-show="status != undefined">
    <div class="panel-heading">
        <h2
            class="panel-title"
            i18n="centreon.dashboard.h2">
        </h2>
    </div>
    <div class="panel-body">

        <!-- search form -->
        <div class="form-search">

            <!-- host state dropdown -->
            <div
                ng-click="$event.stopPropagation()"
                dropdown class="dropdown">

              <button
                class="btn btn-default dropdown-toggle"
                type="button"
                id="dropdownMenu1"
                data-toggle="dropdown"
                dropdown-toggle
                aria-expanded="true"
                i18n="centreon.dashboard.host-state">
                <span class="caret"></span>
              </button>

              <ul
                class="dropdown-menu"
                role="menu"
                aria-labelledby="dropdownMenu1">

                <li ng-repeat="state in states.host" role="presentation">
                    <a role="menuitem" tabindex="1" href>
                        <input
                            ng-checked="filters.host.indexOf(state.id) > -1"
                            type="checkbox" />
                                {{ state.state }}
                    </a>
                </li>
              </ul>
            </div>

            <!-- host -->
            <input
                class="form-control"
                type="text"
                i18n i18n-placeholder="centreon.dashboard.host" />

            <!-- service state dropdown -->
            <div dropdown class="dropdown">

              <button
                class="btn btn-default dropdown-toggle"
                type="button"
                id="dropdownMenu1"
                data-toggle="dropdown"
                dropdown-toggle
                aria-expanded="true"
                i18n="centreon.dashboard.service-state">
                <span class="caret"></span>
              </button>

              <ul
                class="dropdown-menu"
                role="menu"
                aria-labelledby="dropdownMenu1">

                <li role="presentation">
                    <a role="menuitem" tabindex="1" href>
                        <input type="checkbox" />
                        Ok
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="2" href>
                        <input type="checkbox" />
                        Warning
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="3" href>
                        <input type="checkbox" />
                        Critical
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="4" href>
                        <input type="checkbox" />
                        Unknown
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="5" href>
                        <input type="checkbox" />
                        Pending
                    </a>
                </li>
              </ul>
            </div>

            <!-- service name -->
            <input
                class="form-control"
                type="text"
                i18n i18n-placeholder="centreon.dashboard.service" />

            <!-- criticity -->
            <div dropdown class="dropdown">
              <button
                class="btn btn-default dropdown-toggle"
                type="button"
                id="dropdownMenu1"
                data-toggle="dropdown"
                dropdown-toggle
                aria-expanded="true"
                i18n="centreon.dashboard.criticity">
                <span class="caret"></span>
              </button>

              <ul
                class="dropdown-menu"
                role="menu"
                aria-labelledby="dropdownMenu1">

                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">
                        <input type="checkbox" />
                        Blocker
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">
                        <input type="checkbox" />
                        Minor
                    </a>
                </li>
              </ul>
            </div>
        </div>

        <!-- pagination -->
        <div class="pagination col-sm-6">
            <div
                pagination
                ng-model="pageNumber"
                ng-change="pager($event)"
                max-size="10"
                rotate="false"
                direction-links="false"
                items-per-page="itemsPerPage"
                total-items="all.length"
                class="pagination-md pull-right">
            </div>
            <select
                class="form-control"
                ng-model="itemsPerPage"
                ng-change="updatePagination($event)"
                ng-options="max for max in [25,50,100,150,200,250]">
            </select>
        </div>

        <table
            class="table">
            <thead>
                <th class="check">
                    <input type="checkbox" />
                </th>
                <th class="host-state">
                    <span i18n="centreon.dashboard.host-state"></span>
                </th>
                <th class="host">
                    <span i18n="centreon.dashboard.host"></span>
                </th>
                <th class="criticity">
                    <span i18n="centreon.dashboard.criticity"></span>
                </th>
                <th class="service-state">
                    <span i18n="centreon.dashboard.service-state"></span>
                </th>
                <th class="service-name">
                    <span i18n="centreon.dashboard.service-name"></span>
                </th>
                <th class="acknowledge">
                    &nbsp;
                </th>
                <th class="downtime">
                    &nbsp;
                </th>
                <th class="notes-url">
                    <span i18n="centreon.dashboard.notes_url">
                    </span>
                </th>
                <th class="attempts">
                    <span i18n="centreon.dashboard.attempts">
                    </span>
                </th>
                <th class="poller">
                    <span i18n="centreon.dashboard.poller">
                    </span>
                </th>
                <th class="last-checks">
                    <span i18n="centreon.dashboard.last_check">
                    </span>
                </th>
                <th class="last-hard-state">
                    <span i18n="centreon.dashboard.last_hard_state">
                    </span>
                </th>
            </thead>
            <tbody
                ng-repeat="state in status  | limitTo: itemsPerPage track by $index"
                ng-class="{
                    'down' : state.downtime == 'yes',
                    'ack'  : state.acknowledge == 'yes'
                }">
                <tr>
                    <td class="check">
                        <input
                            ng-click="toggleService($event, state.service_id)"
                            type="checkbox" />
                    </td>
                    <td
                        class="host-state">
                        <span
                            ng-if="state.host_name != status[$index-1].host_name"
                            class="label label-host-state {{ state.host_state }}">
                            &nbsp;
                        </span>
                    </td>
                    <td class="host">
                        <span ng-if="state.host_name != status[$index-1].host_name">
                            {{ state.host_name }}
                        </span>
                    </td>
                    <td class="criticity">
                        <span ng-show="state.criticity == 'major'">
                            {{ state.criticity }}
                        </span>
                    </td>
                    <td
                        class="service-state">
                        <span class="label label-service-state {{ state.service_state }}">
                            &nbsp;
                        </span>
                    </td>
                    <td
                        class="service-name">
                        <span
                            ng-if="outputs.indexOf(state.service_id) == -1"
                            ng-click="toggleOutput($event, state.service_id)"
                            class="glyphicon glyphicon-resize-full">
                        </span>
                        <span
                            ng-if="outputs.indexOf(state.service_id) > -1"
                            ng-click="toggleOutput($event, state.service_id)"
                            class="glyphicon glyphicon-resize-small">
                        </span>
                        {{ state.service_name }}
                    </td>
                    <td
                        class="acknowledge">
                        <span
                            ng-if="state.acknowledge =='yes'"
                            class="glyphicon glyphicon glyphicon-ok-circle">
                        </span>
                    </td>
                    <td
                        class="downtime">
                        <span
                            ng-if="state.downtime =='yes'"
                            class="glyphicon glyphicon-exclamation-sign">
                        </span>
                    </td>
                    <td
                        class="notes-url">
                        <a
                            ng-if="state.notes_url.length > 0"
                            href="{{ state.notes_url }}"
                            target="_blank"
                            class="glyphicon glyphicon-link">
                        </a>
                    </td>
                    <td
                        class="attempts">
                        {{ state.attempts }}
                        {{ state.status | limitTo:1 }}
                    </td>
                    <td
                        class="poller">
                        {{ state.poller }}
                    </td>
                    <td
                        class="last-check">
                        {{ state.last_check | timeAgo }}
                    </td>
                    <td
                        class="last-hard-state">
                        {{ state.last_hard_state | timeAgo }}
                    </td>
                </tr>
                <tr ng-show="outputs.indexOf(state.service_id) > -1">
                    <td colspan="5">
                        &nbsp;
                    </td>
                    <td
                        class="output"
                        colspan="9">
                        {{ state.output }}
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- pagination -->
        <div class="pagination col-sm-6">
            <div
                pagination
                ng-model="pageNumber"
                ng-change="pager($event)"
                max-size="10"
                rotate="false"
                direction-links="false"
                items-per-page="itemsPerPage"
                total-items="all.length"
                class="pagination-md pull-right">
            </div>
            <select
                class="form-control"
                ng-model="itemsPerPage"
                ng-change="updatePagination($event)"
                ng-options="max for max in [25,50,100,150,200,250]">
            </select>
        </div>
    </div>

    <div
        class="panel-footer text-right"
        i18n="centreon.footer.copyright">
    </div>
</div>

