<div nav-directive></div>
<div class="panel panel-primary panel-dashboard">
    <div class="panel-heading">
        <h2 class="panel-title">Dashboard</h2>
    </div>
    <div class="panel-body">
        <table
            class="table table-bordered table-striped table-hover">
            <thead>
                <th class="check">
                    <input type="checkbox" />
                </th>
                <th>
                    <span>Host</span>
                </th>
                <th>
                    <span>Service</span>
                </th>
                <th>
                    <span>return</span>
                </th>
                <th>
                    <span>Duration</span>
                </th>
                <th>
                    <span>Last check</span>
                </th>
            </thead>
            <tbody ng-repeat="state in status">
                <tr>
                    <td  class="check">
                        <input type="checkbox" />
                    </td>
                    <td colspan="5">
                        <span class="glyphicon glyphicon-off"></span>
                        {{ state.hostname }}
                    </td>
                </tr>
                <tr ng-repeat="service in state.services">
                    <td class="check">
                        <input type="checkbox" />
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-off"></span>
                        {{ service.service_name }}
                    </td>
                    <td class="output">
                        <span>
                            {{ service.output }}
                        </span>
                    </td>
                    <td>

                    </td>
                    <td>
                        {{ service.last_check }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer text-right">
        Criteo 2014
    </div>
</div>

