<div nav-directive></div>
<div class="panel panel-primary panel-dashboard">
    <div class="panel-heading">
        <h2
            class="panel-title"
            i18n="centreon.dashboard.h2">
        </h2>
    </div>
    <div class="panel-body">
        <table
            class="table table-bordered table-striped table-hover">
            <thead>
                <th class="check">
                    <input type="checkbox" />
                </th>
                <th>
                    <span i18n="centreon.dashboard.host"></span>
                </th>
                <th>
                    <span i18n="centreon.dashboard.service"></span>
                </th>
                <th>
                    <span i18n="centreon.dashboard.return"></span>
                </th>
                <th>
                    <span i18n="centreon.dashboard.duration"></span>
                </th>
                <th>
                    <span i18n="centreon.dashboard.last-check"></span>
                </th>
            </thead>
            <tbody ng-repeat="host in status">
                <tr>
                    <td class="check">
                        <input type="checkbox" />
                    </td>
                    <td
                        class="host-status"
                        colspan="5">
                        <span class="glyphicon glyphicon-status {{ host.host_state }}">
                        </span>
                            {{ host.hostname }}
                    </td>
                </tr>
                <tr ng-repeat="service in host.services">
                    <td class="check">
                        <input type="checkbox" />
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="service-status">
                        <span class="glyphicon glyphicon-status {{ service.service_state }}">
                        </span>
                            {{ service.service_name }}
                    </td>
                    <td class="output">
                        <span>
                            {{ service.output }}
                        </span>
                    </td>
                    <td>

                    </td>
                    <td>
                        {{ service.last_check | timeAgo }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer text-right">
        Criteo 2014
    </div>
</div>

