div.panel.panel-dashboard {
    table {
        thead {
            th.check {
                width: 40px;
                text-align: center;
            }
        }

        tbody {
            td.check {
                width: 40px;
                text-align: center;
            }

            td.host-status {
                .host-status();
            }

            td.service-status {
                .service-status();
            }

            td.output {
                span {
                    font-size: .8em;
                }
            }
        }
    }
}
